#nav-bar{
    margin-top: -17px;
    width:100%;
    background-color:$green;
    text-align: right;
    ul{
        li{
            text-decoration: none;
            display: inline-block;
            margin: 2%;
            a{
                text-decoration: none;
                color: $white;
                font-size:$font-size+0.2;
                &:hover{
                    color:$blue;
                }
            }
        }
    }
}