html{
    width:100%;
    height:100%;
}

#content{
    height: 100%;
    display: -ms-flexbox;
	display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

#content #tabs{
    width:60%;
    min-width: 200px;
    margin:0px auto;
    text-align: center;
}

ul{
    list-style-type: none;
}

ul li{
    display: inline;
}

#tabs ul li a{
    text-decoration: none;
    color: black;
    padding:10px;
    border: 1px solid grey;
    outline: none;
}

#tabs ul li a:hover{
    background: grey;
    color: white;
}

.active{
    background: grey;
    color: white !important;
}

#submit-form select, #submit-form input[type=text], #submit-form input[type=button]{
    width:90%;
    max-width: 300px;
    margin:10px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

#submit-form input[type=button]{
    font-size: 1.1em;
    transition: all .3s
}

#submit-form input[type=button]:hover{
    box-shadow: 2px 5px 5px #555;
}

#error{
    color:red;
}

#contact-table{
    width:100%;
}